<div class="card text-center">
  <div class="card-header">
    Create a One Time Use Secret
  </div>
  <div class="card-body">
    <h5 class="card-title">Important</h5>
    <p class="card-text">Every secret will be encrypted before being saved.</p>
    <p class="card-text">If you supply a password, that password will be used to encrypt the secret.</p>
    <p class="card-text">This password must be supplied to decrypt and unlock the saved secret.</p>
    <p class="card-text">A secret can only be viewed once. Once viewed it is deleted.</p>
    <%= link_to 'New Secret', new_secret_path, class: "btn btn-primary" %>
  </div>
</div>
