<div class="card">
  <div class="card-body">
    <p class="card-text"><pre><%= sanitize @body.html_safe %></pre></p>
  </div>
  <div class="card-footer text-muted"><strong>This secret has been destroyed.</div>
</div>

<br/>

<div class="actions">
  <%= link_to 'Back', secrets_path, class: "btn btn-primary" %>
</div>
